.container{
  border-radius: 10px;
  background-color: #3867d6;
  margin-left: 5%;
  width: 90%;
}

.grid{
    max-width: 800px; 
    margin: 0 auto;
    display: inline-block;
    margin-right: 1%;
    margin-left: 10%;
    justify-content: center; 
    align-items: flex-start;
}

.titulo{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 7vh;
    color: #FFF;
    font-size: 60px;    
}

.lista{
    margin-right: 20px;
  }
  
  .paperDash {
    min-width: 300px;
    width: fit-content; 
    padding: 20px;
    padding: 20px;
    height: 50vh;
    width: 250px;
    margin: 100px auto;
    min-height: 100px; 
    height: auto; 
    padding: 20px;
  }

  @media(max-width: 550px){
   .grid{
    max-width: 80%;
    margin: 0 auto;
    margin-left: 5px;
    margin-bottom: -80px;
   }
   .paperDas{
      margin-left: 10px;
      width: 250px;
    }
  }

  .month{
    color: #3867d6;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 20px;
  }

  .listTitle{
    margin-bottom: 10px;
    margin-top: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
  }

  .listContanier {
    margin-left: 30px; 
  }

  .busca{    
    margin-top: 25px;
  }

  .pesquisa{
    margin-left: 30%;
    width: 30%;
    margin-bottom: 20px;
    align-items: center;
    height: 35px;
    border-radius: 4px;
    border-color: #3867d6;
    margin-right: 20px;
  }

  .send{
    height: 35px;
    width: 5%;
  }

  .total{
    font-weight: bold;
    text-align: center;
    color: #20bf6b;
    font-size: 25px;
    margin-top: 20px;
  }

  
